In [1]:
import pandas as pd
import numpy as np
### TO date time function

In [2]:
dates = ['2017-01-05','Jan 5 2017','01/05/2017','2017.01.05','2017/01/05','20170105']

we can convert this different format by using date time index

In [3]:
pd.to_datetime(dates)

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

similarly we can use for the time

In [4]:
dates = ['2017-01-05 2:30:00 PM','Jan 5 2017 14:30:00','01/05/2017','2017.01.05','2017/01/05','20170105']

In [5]:
pd.to_datetime(dates)

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [9]:
##If the format is in European ddmmyyy we can use dayfirst arg

pd.to_datetime('5/1/2017',dayfirst=True)

Timestamp('2017-01-05 00:00:00')

we can also use diffrent format

In [10]:
pd.to_datetime('2017#01#05', format = '%Y#%d#%m')

Timestamp('2017-05-01 00:00:00')

In [11]:
## If the datees are not there or any other string is given is given insted of date we can use ignore filter or coerce

dates = ['2017-01-05','Jan 5 2017','01/05/2017','2017.01.05','2017/01/05','adb']

In [13]:
pd.to_datetime(dates,errors='ignore')

Index(['2017-01-05', 'Jan 5 2017', '01/05/2017', '2017.01.05', '2017/01/05',
       'adb'],
      dtype='object')

In [14]:
pd.to_datetime(dates,errors='coerce')

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', 'NaT'],
              dtype='datetime64[ns]', freq=None)

In [17]:
### Epoch format is time format in seconds which is started counting on 1970
t = 1633353236
dt =pd.to_datetime(t,unit='s')
dt

Timestamp('2021-10-04 13:13:56')

In [ ]:
dt.