In [74]:
import pandas as pd
import numpy as np

In [75]:
### handling holidays in the date

In [76]:
df = pd.read_csv("AAPL.csv")
data = df[:13]
data.drop('Date',axis=1,inplace=True)

C:\Python 38\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [77]:
data

         Open       High        Low      Close  Adj Close    Volume
0   38.564999  38.612499  38.180000  38.452499  36.698437  74795200
1   38.502499  38.772499  38.477501  38.619999  36.858284  64921200
2   38.407501  38.465000  38.115002  38.369999  36.619698  80655200
3   38.544998  38.860001  38.512501  38.847500  37.075413  85135200
4   38.742500  38.872501  38.639999  38.825001  37.053936  69630400
5   38.952499  39.182499  38.872501  38.959999  37.182781  65051600
6   39.014999  39.500000  38.775002  38.974998  37.197090  62468000
7   38.992500  39.244999  38.937500  39.137501  37.352192  67622400
8   39.087502  39.342499  38.932499  39.000000  37.220951  64500400
9   39.182499  39.320000  39.102501  39.247501  37.457165  65576800
10  39.474998  40.000000  39.412498  39.970001  38.146709  96486000
11  39.945000  40.217499  39.807499  40.117500  38.287479  75989200
12  40.105000  40.177502  39.900002  39.939999  38.118073  65496800

In [78]:
###If we need to and date we use date range

pd.date_range(start='07/01/2017',end='07/20/2017',freq='B')

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20'],
              dtype='datetime64[ns]', freq='B')

In [79]:
##to get the holidays in US
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

usb = CustomBusinessDay(calendar = USFederalHolidayCalendar())

In [80]:
pd.date_range(start='07/01/2017',end='07/20/2017',freq=usb)

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20'],
              dtype='datetime64[ns]', freq='C')

In [81]:
##now we can use this usb in the freq of date range
date = pd.date_range(start='07/01/2017',end='07/20/2017',freq=usb)

from the above we can see 4th of july is a US holiday thus the date is not recorded

In [82]:
data.set_index(date,inplace=True)

In [83]:
data

                 Open       High        Low      Close  Adj Close    Volume
2017-07-03  38.564999  38.612499  38.180000  38.452499  36.698437  74795200
2017-07-05  38.502499  38.772499  38.477501  38.619999  36.858284  64921200
2017-07-06  38.407501  38.465000  38.115002  38.369999  36.619698  80655200
2017-07-07  38.544998  38.860001  38.512501  38.847500  37.075413  85135200
2017-07-10  38.742500  38.872501  38.639999  38.825001  37.053936  69630400
2017-07-11  38.952499  39.182499  38.872501  38.959999  37.182781  65051600
2017-07-12  39.014999  39.500000  38.775002  38.974998  37.197090  62468000
2017-07-13  38.992500  39.244999  38.937500  39.137501  37.352192  67622400
2017-07-14  39.087502  39.342499  38.932499  39.000000  37.220951  64500400
2017-07-17  39.182499  39.320000  39.102501  39.247501  37.457165  65576800
2017-07-18  39.474998  40.000000  39.412498  39.970001  38.146709  96486000
2017-07-19  39.945000  40.217499  39.807499  40.117500  38.287479  75989200
2017-07-20  40.105000  40.177502  39.900002  39.939999  38.118073  65496800

### If we want to create a coustom calender holiday

In [93]:

from pandas.tseries.holiday import Holiday,AbstractHolidayCalendar,nearest_workday

def myholiday(AbstractHolidayCalendar):
    rules = [
        Holiday('vinayagar chadhurthi',month =7,day=3,observance=nearest_workday)#observance will fliter date according to the criteria we give
    ]
    
ust = CustomBusinessDay(calendar = myholiday(AbstractHolidayCalendar))
ust

In [94]:
date = pd.date_range(start='07/01/2017',end='07/20/2017',freq=ust)
date

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20'],
              dtype='datetime64[ns]', freq='C')

In [95]:
## we can also filter based on the day we want 
da = CustomBusinessDay(weekmask = 'Sun Mon Tue Wed Thu',holidays = ["2017-07-04"])
date = pd.date_range(start='07/01/2017',end='07/20/2017',freq=da)

In [96]:
date

DatetimeIndex(['2017-07-02', '2017-07-03', '2017-07-05', '2017-07-06',
               '2017-07-09', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-16', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20'],
              dtype='datetime64[ns]', freq='C')

this will give only the reqiured we days we mentioned

and the holiday will remove the specific day we mention