In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as sta

In [5]:
df = sns.load_dataset('tips')

In [6]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [7]:
data_table = pd.crosstab(df['sex'],df['smoker'])

In [8]:
data_table

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [28]:
#observed values
observed_val = data_table.values

In [29]:
estimated_val = sta.chi2_contingency(data_table)

In [30]:
estimated_val = estimated_val[3]

In [31]:
estimated_val

array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]])

In [32]:
rows = len(data_table.iloc[:2,0])

In [33]:
rows

2

In [34]:
col = len(data_table.iloc[0,:2])

In [35]:
col

2

In [36]:
degre_of_Freedom = (rows-1)*(col-1)

In [37]:
degre_of_Freedom

1

In [38]:
# using alpha as .05 indicates .95 of remaing values must be captured
alpha = .05

In [39]:
from scipy.stats import chi2
chi_squre = sum([(o-e)**2./e for o,e in zip(observed_val,estimated_val)])

In [42]:
chi_squre_stats = chi_squre[0] + chi_squre[1]
chi_squre_stats

0.001934818536627623

In [43]:
critical_val = chi2.ppf(q = 1-alpha,df = degre_of_Freedom)

In [44]:
critical_val

3.841458820694124

In [45]:
p_val = 1-chi2.cdf(chi_squre_stats,df = degre_of_Freedom)

In [48]:
p_val

0.964915107315732

In [49]:
if chi_squre_stats>= critical_val:
    print('reject H0,there is a relationship between categorical feature')
else:
    print('retain H0,there is a relationship between categorical feature')
if p_val <= alpha:
    print('reject H0,there is a relationship between categorical feature')
else:
    print('retain H0,there is a relationship between categorical feature')

retain H0,there is a relationship between categorical feature
retain H0,there is a relationship between categorical feature

You can use both cases for finding the relationship between the categorical